<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maple.earnings.mapper.EOrderMapper" >
  <resultMap id="BaseResultMap" type="com.maple.earnings.pojo.EOrder" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="cost" property="cost" jdbcType="DECIMAL" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="refund_status" property="refundStatus" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="num_iid" property="numIid" jdbcType="BIGINT" />
    <result column="tid" property="tid" jdbcType="BIGINT" />
    <result column="refund_id" property="refundId" jdbcType="BIGINT" />
       <association property="eRefund" javaType="com.maple.earnings.pojo.ERefund">
    <result column="refund_id" property="refundId" jdbcType="BIGINT" />
    <result column="alipay_no" property="alipayNo" jdbcType="BIGINT" />
    <result column="created" property="created" jdbcType="VARCHAR" />
    <result column="order_status" property="orderStatus" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="good_status" property="goodStatus" jdbcType="VARCHAR" />
    <result column="refund_fee" property="refundFee" jdbcType="DECIMAL" />        
        </association> 
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, cost, num, price, refund_status, status, title, num_iid, tid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.maple.earnings.pojo.EOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from e_order_${userId}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
   <select id="selectOrderAndRefundByExample" resultMap="BaseResultMap" parameterType="com.maple.earnings.pojo.EOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    eo.id, eo.cost, eo.num, eo.price, 
    eo.refund_status, eo.status, eo.title,eo.num_iid,eo.tid
    from e_order_${userId} eo 
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from e_order_${userId}
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from e_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.maple.earnings.pojo.EOrderExample" >
    delete from e_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.maple.earnings.pojo.EOrder" >
    insert into e_order_${userId} (id, cost, num, 
      price, refund_status, status, 
      title, num_iid, tid
      )
    values (#{id,jdbcType=BIGINT}, #{cost,jdbcType=DECIMAL}, #{num,jdbcType=INTEGER}, 
      #{price,jdbcType=DECIMAL}, #{refundStatus,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{numIid,jdbcType=BIGINT}, #{tid,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.maple.earnings.pojo.EOrder" >
    insert into e_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cost != null" >
        cost,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="refundStatus != null" >
        refund_status,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="numIid != null" >
        num_iid,
      </if>
      <if test="tid != null" >
        tid,
      </if>
      <if test="refundId != null" >
       refund_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="cost != null" >
        #{cost,jdbcType=DECIMAL},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="refundStatus != null" >
        #{refundStatus,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="numIid != null" >
        #{numIid,jdbcType=BIGINT},
      </if>
      <if test="tid != null" >
        #{tid,jdbcType=BIGINT},
      </if>
      <if test="refundId != null" >
        #{refundId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.maple.earnings.pojo.EOrderExample" resultType="java.lang.Integer" >
    select count(*) from e_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update e_order
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.cost != null" >
        cost = #{record.cost,jdbcType=DECIMAL},
      </if>
      <if test="record.num != null" >
        num = #{record.num,jdbcType=INTEGER},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.refundStatus != null" >
        refund_status = #{record.refundStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.numIid != null" >
        num_iid = #{record.numIid,jdbcType=BIGINT},
      </if>
      <if test="record.tid != null" >
        tid = #{record.tid,jdbcType=BIGINT},
      </if>
      <if test="record.refundId != null" >
        refund_id = #{record.refundId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update e_order
    set id = #{record.id,jdbcType=BIGINT},
      cost = #{record.cost,jdbcType=DECIMAL},
      num = #{record.num,jdbcType=INTEGER},
      price = #{record.price,jdbcType=DECIMAL},
      refund_status = #{record.refundStatus,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      num_iid = #{record.numIid,jdbcType=BIGINT},
      tid = #{record.tid,jdbcType=BIGINT},
      refund_id = #{record.refundId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.maple.earnings.pojo.EOrder" >
    update e_order
    <set >
      <if test="cost != null" >
        cost = #{cost,jdbcType=DECIMAL},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="refundStatus != null" >
        refund_status = #{refundStatus,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="numIid != null" >
        num_iid = #{numIid,jdbcType=BIGINT},
      </if>
      <if test="tid != null" >
        tid = #{tid,jdbcType=BIGINT},
      </if>
      <if test="refundId != null" >
        refund_id = #{refundId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.maple.earnings.pojo.EOrder" >
    update e_order_${userId}
    set cost = #{cost,jdbcType=DECIMAL}
<!--       num = #{num,jdbcType=INTEGER}, -->
<!--       price = #{price,jdbcType=DECIMAL}, -->
<!--       refund_status = #{refundStatus,jdbcType=VARCHAR}, -->
<!--       status = #{status,jdbcType=VARCHAR}, -->
<!--       title = #{title,jdbcType=VARCHAR}, -->
<!--       num_iid = #{numIid,jdbcType=BIGINT}, -->
<!--       tid = #{tid,jdbcType=BIGINT}, -->
<!--       refund_id = #{refundId,jdbcType=BIGINT} -->
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>